html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
#sec1 {
  background-color: #90ddf0;
}
#sec2 {
  background-color: #2c666e;
  flex-direction: row-reverse;
}
#sec3 {
  background-color: #07393c;
}

#sec4 {
  background-color: #f0edee;
  flex-direction: row-reverse;
}

#sec5 {
  background-color: #0a090c;
}
section:nth-child(-n + 6) {
  height: 100vh;
}

section:nth-child(3),
section:nth-child(4),
section:nth-child(6) {
  color: white;
}

.flex-container {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.flex-container-sec {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.flex-container-sec img {
  width: 35%;
}

.flex-container-sec div {
  text-align: left;
  width: 500px;
  font-weight: 300;
}

.card {
  width: 200px;
  height: 320px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 1px 1px 14px -3px rgba(0, 0, 0, 0.3);
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card h4,
.card p {
  padding: 0px 8px 0px 8px;
  margin: 0;
}

.card h4 {
  font-size: 20px;
}

footer {
  background-image: url("fruit-delivered-scaled.jpg");
}

h2#fruitTypes {
  text-align: center;
  font-size: 34px;
}

/* nav */
header {
  position: fixed;
  top: 0;
  width: 100%;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  display: flex;
}

header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}

header li a:hover {
  background-color: #f4f4f4;
}

/* footer */
footer {
  background: url(footer\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  opacity: 0.8;
}

footer li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}

footer li a:hover {
  background-color: #f4f4f4;
}
